@import url('https://fonts.googleapis.com/css?family=Sora:200');

html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin: 0;
    position: absolute;
    z-index: -10;
}

@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: #1D1F20; */
    background-image: url("/static/img/bg.jpg");
    background-size: contain;
    z-index: -2;
}

#box {
    display: block;
    width: 400px;
    height: 400px;
    color: white;
    font-family: 'Sora';
    font-size: 1rem;
}

.form_container {
    --borderWidth: 3px;
    background-image: linear-gradient(to bottom, #141b29, #0c111b 300px);
    position: relative;
    border-radius: var(--borderWidth);
}

.form_container:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
}

.text_container{
    width: 400px;
    height: 25px;
    margin-top: 5px;
}

.box_text{
    margin-left: 100px;
    margin-top: 5px;
    cursor: pointer;
}

.active_line{
    width: 55px;
    height: 2px;
    display: block;
    background-color:aliceblue;
    margin-left:95px;
    transition: all 0.4s ease-in-out;
}

.active_line.right{
    width: 70px;
    height: 2px;
    transform: translateX(151px);
    transition: all 0.4s ease-in-out;
}

.form{
    display: flex;
    flex-direction: column;
    height: 93%;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    position: absolute;
    transition: all 0.4s ease-in-out;
}

.register_form{
    opacity: 0;
    z-index: 0;
}

.login_form{
    opacity: 100;
    z-index: 1;
}

.inputFields{
    height: 40px;
    width: 300px;
    margin-top: 20px;
    margin-left: 50px;
    background: transparent;
    color: aliceblue;
    border-color: aliceblue;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}

.submitButton{
    height: 40px;
    width: 100px;
    margin-top: 30px;
    margin-left: 150px;
    border-radius: 10px;
    color: aliceblue;
    background: none;
}

.form_container.right_active .login_form{
    opacity: 0;
    z-index: 0;
}

.form_container.right_active .register_form{
    opacity: 100;
    z-index: 5;
    transition: all 0.4s ease-in-out;
}