@import url('https://fonts.googleapis.com/css?family=Sora:200');

html, body{
    height: 100%;
    font-family: 'Sora';
    color: aliceblue;
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
    background-image: linear-gradient(to bottom, #141b29, #0c111b 300px);
}

.wrapper{
    width: 100%;
    height: 100%;
}

.navBar{
    position: absolute;
    display: block;
    height: 100%;
    width: 50px;
    background-color: #537895;
    background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.iconBar{
    position: absolute;
    display: flex;
    justify-content: center;
    place-items: center;
    height: 100%;
    width: 100px;
    margin-bottom: 100px;
    cursor: pointer;
    mix-blend-mode: difference;
}

.rightBar{
    right: 0;
}

.previousRec{
    left: 50px;
}

.nextRec{
    right: 50px;
}

.iconCircle{
    display: flex;
    justify-content: center;
    place-items: center;
    height: 90px;
    width: 90px;
    border: 4px solid aliceblue;
    border-radius: 100%;
    mix-blend-mode: difference;
}

.iconCircle:hover{
    background-color: #537895;
}

.dislike{
    left: 400px;
}

.like{
    right: 400px;
}

.like, .dislike{
    height: 70%
}

i{
    cursor: pointer;
}   

.iconDiv{
    margin-top: 20px;
    width: 100%;
    height: 60px;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    display: flex;
    place-items: center;
    justify-content: center;
    align-content: center;
}

.iconDiv:hover{
    background-color: #537895;
    border-top: 2px solid aliceblue;
    border-bottom: 2px solid aliceblue;
}

.iconDiv.active{
    background-color: #537895;
}

.mainContent{
    display: flex;
    justify-content: center;
    place-items: center;
    align-items: center;
    height: 100%;
    margin-left: 50px;
    margin-right: 50px;
    font-weight: bold;
}

.contentBox{
    display: block;
    width: 600px;
    height: 100%;
}

.contentBox h1{
    text-align: center;
    mix-blend-mode: difference;
}

.contentImage{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    mix-blend-mode: normal;
}

.contentImage img{
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 0.4ms ease-in-out;
}

.enlarged img{
    max-height: 650px;
    height: 650px;  
    z-index: 5;
    transition: all 0.4ms ease-in-out;
}

.contentRating{
    text-align: center;
    mix-blend-mode: difference;
}
.contentGenre{
    text-align: center;
    margin-bottom: 10px;
    mix-blend-mode: difference;
}

.contentDesc{
    mix-blend-mode: difference;
    font-size: large;
}

a{
    color: inherit;
    text-decoration: none;
}