*{
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;

}
.navbar{
    width: 205vh;
    height: 60px;
    background-color: black;
}
.navbar-container{
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    color: white;

} 
.logo-container{
    flex: 1;
}
.logo{
   font-family: 'Sen' ,sans-serif;
   font-size: 30px;
   color: #4bdf00;
    
}
.menu-container{
    flex: 4;
}
.menu-list{
    display: flex;
    list-style: none;

}
.menu-list-item{
    margin-right: 15px;
}
.menu-list-item.active{
    font-weight: bold;
    margin-right: 40px;

}
.profile-container{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}
.profile-text-container{
    margin: 0 10px;

}
.profile-picture{
    width: 32px;
    height: 32px;
    border-radius: 50%;

}
.toggle{
    margin: 20px;
    width: 40px;
    height: 20px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
  

}
.toggle-icon{
    color: goldenrod;
}
.toggle-ball{
    width: 18px;
    height: 18px;
    background-color: black;
    position: absolute;
    right: 1px;
    border-radius: 50px;
    cursor: pointer;
}
.sidebar{
    width: 50px;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    align-items: center;

}
.left-menu-icon{
    color: white;
    font-size: 20px;
    margin-bottom: 70px;
    cursor: pointer;

}
.container{
    background-color: #151515;
    height: calc(300vh - 50px);
    width: 205vh;
    color: white;
}
.content-container{
    margin-left: 50px;
}
.featured-content{
    height: 50vh;
}
.movie-list-container{
    padding: 20px;
    margin-left: 40px;
}
.movie-list{
    display: flex;
    align-items: center;
    height: 300px;
}
.movie-list-item{
    margin-right: 30px;
}
.movie-list-item:hover .movie-list-item-img{
    transform: scale(1.1);
}

.movie-list-item-img{
    width: 290px;
    height: 200px;
    object-fit: cover;
}