<!DOCTYPE html>
<html lang="en">
<head>
 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style-2.css') }}">
</head>
<body>
    <div class="register">
        <form name="mainform" onsubmit="return validateForm()">
            <h1>Register</h1>
            <div class="text">
                <input type="text" id="name" name="name" placeholder="Name">
            </div>
            <div class="text">
                <input type="text" id="username" name="username" placeholder="Username">
            </div>
            <div class="text">
                <input type="password" id="password" name="password" placeholder="Password">
            </div>
            <div class="text">
                <input type="password" id="confirm_password" name="confirm_password" placeholder="Confirm Password">
            </div>
            <div class="text">
                <input type="text" id="email" name="email" placeholder="Email-id">
            </div>
            <input type="submit" name ="submit" value="Next"> 
            <div class="sign-up">
                Already a member? <a href="/login">Login</a>
            </div>

        </form>
    </div>
    <script src="{{ url_for('static', filename='js/register.js') }}"></script>

</body>